#header {
  text-align: center; }
  #header .logo {
    width: 300px; }
  #header #title {
    background-color: #8A0707;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #header #title a {
      color: white; }
    #header #title h3, #header #title h4 {
      margin-bottom: 0; }
    #header #title h4 {
      position: relative;
      top: -5px;
      right: -150px; }
