$dark-red:          #8A0707;
$screen-md-min:     992px;

#header {
    text-align: center;

    .logo {
        width: 300px;
    }

    #title {
        
        background-color: $dark-red;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: white;
        }

        h3, h4 {
            margin-bottom: 0;
        }

        h4 {
            position: relative;
            top: -5px;
            right: -150px;
        }
    }
}
