#confirmation {
  text-align: center; }
  #confirmation h2 {
    color: #8A0707; }
  #confirmation h3 {
    margin-bottom: 30px; }
    #confirmation h3 span {
      color: #F4C57D; }
  #confirmation h4 {
    width: 150px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto; }
