$gold:              #F4C57D;
$dark-red:          #8A0707;
$screen-md-min:     992px;

#footer {
    display: flex;
    justify-content: center;
    background-color: $dark-red;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    align-items: center;

    h3 {
        margin-right: 10px;

        a.gold {
            color: $gold;
        }

        a {
            color: white;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
}
