#pizzas .pizza {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
    .picture img {
        width: 250px;
        height: 200px;
        margin-right: 20px;
    }

    .details {
        padding-top: 20px;
    }
}