$screen-sm-min:     768px;
$gold:         #F4C57D;

#menu {
    text-align: center;

    h3 {
        color: $gold;
        margin-bottom: 40px;
    }

    .pizzas {
        
        .pizzas-line {
            display: flex;
            justify-content: center;

            .pizza {
                margin-right: 100px;

                .picture {
                    width: 250px;
                    height: 200px;
                }

                &:last-child {
                    margin-right: 0;
                }

                h3 {
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}